
@{
    ViewData["Title"] = "Müşteriler";
}

<h1>Müşteriler</h1>
<a href="/Default/Index/" class="btn btn-info">Index Sayfası</a>
<a href="/Default/Ürünler/" class="btn btn-info">Ürünler Sayfası</a>
<a href="/Default/Müşteriler/" class="btn btn-info">Müşteriler Sayfası</a>
<a href="/Default/Deneme/" class="btn btn-info">Deneme Sayfası</a>


<h1>@ViewBag.m7</h1>