
@{
    ViewData["Title"] = "Müşteriler";
}

<h1>Müşteriler</h1>
<a href="/Default/Index/">Index Sayfası</a>
<a href="/Default/Ürünler/">Ürünler Sayfası</a>
<a href="/Default/Müşteriler/">Müşteriler Sayfası</a>


<h1>@ViewBag.m7</h1>